html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

@media (max-width: 1199px) {
  .first-nav {
    background: #131313;
    color: #555;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 13px;
  }

  .first-nav li {
    display: inline;
    padding-right: 20px;
  }

  .right-n {
    float: right;
  }
  .second-nav {
    display: inline;
    background-color: white;
    color: #555;
    /* display: grid; */
    grid-template-columns: 90% 10%;
  }

  .second-nav li {
    display: inline;
    padding-right: 10px;
    font-family: Shentox, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #aaa;
    height: 48px;
    letter-spacing: 0.04em;
    padding: 18px 10px 0;
  }

  .magif {
    float: left;
  }

  .line-yell {
    background-color: #fd3;
    padding: 0%;
  }

  .nav-logo {
    background-color: black;
    display: block;
    height: px;
    position: relative;
    width: 107px;
    /* display: none; */
  }
}

@media (min-width: 1200px) {
  .first-nav {
    background: #131313;
    color: #555;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 13px;
  }

  .first-nav li {
    display: inline;
    padding-right: 20px;
  }

  .right-n {
    float: right;
  }
  .second-nav {
    display: inline;
    background-color: white;
    color: #555;
    /* display: grid; */
    grid-template-columns: 90% 10%;
  }

  .second-nav li {
    display: inline;
    padding-right: 10px;
    font-family: Shentox, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #aaa;
    height: 48px;
    letter-spacing: 0.04em;
    padding: 18px 10px 0;
  }

  .magif {
    float: left;
  }

  .line-yell {
    background-color: #fd3;
    padding: 0%;
    margin: 3px;
  }

  .nav-logo {
    background-color: black;
    display: block;
    height: px;
    position: relative;
    width: 107px;
    display: none;
  }

  .main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: #fff;
    padding: 0.5em;
  }

  .left-art {
    background-image: linear-gradient(
        to bottom right,
        rgba(243, 78, 72, 0.7),
        rgba(2, 2, 2, 0.959)
      ),
      url(https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Opal-796x417.jpg);
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: #fff;
    margin-right: 0.5em;
  }

  .right-top {
    background-image: linear-gradient(
        to bottom right,
        rgba(255, 255, 240, 0.4),
        rgba(2, 2, 2, 0.9)
      ),
      url(https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Untitled-design-2021-01-26T112752.972-796x417.png);
    background-size: cover;
    margin-bottom: 0.5em;
  }

  .right-bottom {
    background-image: linear-gradient(
        to bottom right,
        rgba(255, 255, 240, 0.4),
        rgba(2, 2, 2, 0.9)
      ),
      url(https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Gemini2-duplicates-monitor-alert-e1611566958933-796x420.png);
    background-size: cover;
  }

  .footer-legal-logoTNW-1 {
    width: 50%;
    margin-top: 1em;
    margin-left: 1em;
  }

  .left-art h4 {
    font-size: 53px;
    margin-left: 0.4em;
    margin-top: 4em;
  }

  .date-p {
    position: relative;
    margin-left: 700px;
    margin-top: -8em;
  }
  .Ivan {
    margin-left: 1em;
    color: rgb(165, 161, 161);
    font-size: 12px;
  }

  .right-top h4 {
    margin-top: 4em;
    font-size: 30px;
  }

  .right-bottom h4 {
    font-size: 30px;
    margin-top: 4em;
  }

  .latest-news-sec {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr fr;
  }

  .latest-news-container {
    width: ;
  }
}
